[submodule "tokenization-service"]
	path = tokenization-service
	url = https://github.com/pandishpancheta/tokenization-service
[submodule "contract-observer-service"]
	path = contract-observer-service
	url = https://github.com/pandishpancheta/contract-observer-service
[submodule "listings-service"]
	path = listings-service
	url = https://github.com/pandishpancheta/listings-service
[submodule "api-gateway-service"]
	path = api-gateway-service
	url = https://github.com/pandishpancheta/api-gateway-service
[submodule "order-service"]
	path = order-service
	url = https://github.com/pandishpancheta/order-service
[submodule "auth-service"]
	path = auth-service
	url = https://github.com/pandishpancheta/auth-service
